@charset "iso-8859-1";

BODY {
    background: #2C2C2C url('../images/bg_dark.gif');
    color: #ffffff;
    font-family: verdana, arial, helvetica;
    font-weight: normal;
    font-size: 10pt;
    text-align: justify;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

.page_background {
    /*
    background: #000000 url('http://stormhavenserver.com/joomla/templates/eve_online_lernvid.com/images/left.gif') no-repeat;
    */
    background: #151515;
}

.main_page {
    background: #2C2C2C url('../images/bg_dark.gif');
    color: #ffffff;
    font-family: verdana, arial, helvetica;
    font-weight: normal;
    font-size: 10pt;
    text-align: justify;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

A:link {
    text-decoration: none;
    color: #1c94c4;
}

A:active {
    text-decoration: none;
    color: #eb8f00;
}

A:visited {
    text-decoration: none;
    color: #40BFE7;
}

A:hover {
    text-decoration: underline;
    color: #ffffff;
}

.form {
    background-color: #000000;
    color: #ffffff;
    text-align: left;
    font-size: 13;
    font-weight: normal;
    padding: 2 4 2 4;
    border: #444444 1px solid;
}

TABLE {
    font-family: arial, helvetica;
    font-weight: normal;
    font-size: 10pt;
    text-align: inherit;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

.tab_title {
    font-weight: bold;
    text-align: center;
}

.myheader {
    background: url(../images/header_dark_blue.gif) no-repeat;
    font-family: 'Times New Roman';
    font-weight: bold;
    text-align: center;
    font-size: 32pt;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.myline {
    background-image: url(../images/line.gif);
}

.menu_title {
    font-family: 'Arial', Times;
    font-weight: bold;
    text-decoration: none;
    font-size: 11px;
    border-style: outset;
    border-width: 1px;
    border-color: #555555;
    background: url('../images/bgmenu_title.gif');
    padding: 0 4 0 4;
}

.menu_item {
    font-family: 'Arial', Times;
    font-weight: normal;
    text-decoration: none;
    font-size: 12px;
    border-style: none;
    border-width: 0px;
    padding: 0 4 0 4;
}

.page_title {
    color: #1c94c4;
    font-size: 24pt;
    font-family: 'Times New Roman';
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.page_small_title {
    color: #1c94c4;
    font-size: 18pt;
    font-family: 'Times New Roman';
    font-weight: bold;
    text-align: left;
    padding: 0 4 0 4;
    border: #363636 1px solid;
    margin: 10px;
}

.headerrow {
    background: #222222;
    color: #cccccc;
    font-size: 18px;
    font-weight: bold;
    border: #363636 1px solid;
    background: #1C1C1C url('../images/bg_dark_dark.gif');
    margin: 0px;
}

.menuh {
    font-weight: bold;
    border-style: solid;
    border-color: #757575 #454545 #292929 #757575;
    border-width: 1px;
    background: url('../images/bgmenu_title.gif');
}

.lr, .s2-lr {
    background: #2C2C2C url('../images/bg_dark.gif');
}

.dr, .s2-dr {
    background: #1C1C1C url('../images/bg_dark_dark.gif');
}

.header_cell {
    font-weight: bold;
    font-size: 20pt;
}

.toggle_btn {
    background-color: #CCC;
}

#easyTooltip {
    padding: 5px 10px;
    border: 1px solid #195fa4;
    background: #195fa4 url('../images/bg_dark.gif');
    color: #000000;
}

#easyTooltip2 {
    padding: 5px 10px;
    border: 1px solid #5e5e5e;
    background: #1e1e1e url('../images/bg_dark_dark.gif');
    color: #ffffff;
    /*
    width:450px;
    */
    width: 450px;
    white-space: nowrap;
}

#easyTooltip2 h4, #easyTooltip2 p {
    margin: .25em 0;
    color: #ffffff;
}

input[type=text], input[type=password], textarea, select {
    font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
    color: #ffffff;
    padding: 3px;
    border: 1px solid #555555;
    outline: none;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;

    -moz-transition: border .2s linear, box-shadow .2s linear;
    -webkit-transition: border .2s linear, -webkit-box-shadow .2s linear;
    background-color: #000000;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
    border: 1px solid #aaaaaa;
    -moz-box-shadow: 0 0 3px #888888, 0 1px 2px rgba(0, 0, 0, .15) inset;
    -webkit-box-shadow: 0 0 3px #888888, 0 1px 2px rgba(0, 0, 0, .15) inset;
    box-shadow: 0 0 3px #888888, 0 1px 2px rgba(0, 0, 0, .15) inset;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom: 1;
}

/* =Dropdown ----------------------------------------------- */
.dropdown .item {
    padding-right: 25px;
}

.dropdown .arrow {
    background: url(../images/layout/nav_arrow_lite.png) no-repeat 0 0;
    width: 8px;
    height: 4px;
    display: block;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    right: 10px;
}

.dropdown .item.icon {
    padding-right: 20px;
}

.dropdown .item.icon span {
    left: 0;
}

/* =Btn ----------------------------------------------- */
.btn, .btn:visited {
    background-repeat: repeat-x;
    background-position: 0 0;

    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: normal;
    color: #FFF;

    display: inline-block;
    margin: 0;
    *overflow: visible;

    position: relative;

    border: none;
    border-width: 1px;
    border-style: solid;

    cursor: pointer;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);

    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
}

div.pagination {
    padding: 3px;
    margin: 3px;
}

div.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #999999;
    text-decoration: none; /* no underline */
}

div.pagination a:active, div.pagination a:hover {
    border: 1px solid #ffffff;
}

div.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #ffffff;
    font-weight: bold;
}

div.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;
}

	