body {
    margin: 0;
    padding: 40px;
    background: #fff;
    font: 80% Arial, Helvetica, sans-serif;
    color: #555;
    line-height: 180%;

}

h1 {
    font-size: 180%;
    font-weight: normal;
}

h2 {
    font-size: 160%;
    font-weight: normal;
}

h3 {
    font-size: 140%;
    font-weight: normal;
}

img {
    border: none;
}

pre {
    display: block;
    font: 12px "Courier New", Courier, monospace;
    padding: 10px;
    border: 1px solid #bae2f0;
    background: #e3f4f9;
    margin: .5em 0;
    z-index: 9999;
}

/* Easy Tooltip */

#easyTooltip {
    padding: 5px 10px;
    border: 1px solid #195fa4;
    background: #195fa4 url(bg.gif) repeat-x;
    color: #fff;
}

#easyTooltip2 {
    padding: 5px 10px;
    border: 1px solid #5e5e5e;
    background: #5e5e5e url(bg2.gif) repeat-x;
    color: #fff;
    width: 450px;
    z-index: 9999;
}

#easyTooltip2 h4, #easyTooltip2 p {
    margin: .25em 0;
}
